html,body,div,p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

html,body,#app {
  height: 100%;
}

// .ivu-layout-content {
//   article {
//     height: 100%;
//     overflow: auto;
//     background-color: #ffffff;

//     .ivu-card {
//       margin: 20px;
//     }
//   }
// }

// .ivu-card {
//   .ivu-form-item {
//     margin-right: 24px;
//   }
// }

// .ivu-page {
//   padding-top: 20px;
//   text-align: right;
// }
